.signin-left{
 background-image: url("../images/office.png");
 background-size: 1010px 100%;
 background-repeat: no-repeat;
}
   
.signin-box h1{
    position: absolute;
    top:0;
    left:0;
    padding:20px;
    font-size: 50px;
}