.signin-left{
 background-image: url("../images/frontdesk.png");
 background-size: 850px 100%;
 background-repeat: no-repeat;
}
   
/* .signin-box h1{
    position: absolute;
    top:0;
    left:0;
    padding:20px;
    font-size: 50px;
    color: white;
} */

